@charset "UTF-8";

/*Tudo que em HTML é id = em CSS é # (só pode um elemento por página html, em outra página pode usar o mesmo id, pra usar o css externo.)
Tudo que em HTML é class= em CSS é . (pode vários elementos)*/

body {
    background-color: #a7caba9f;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #043f24 ;
}

h1#principal {
    color: white;
    text-align: center;
    background-color: rgb(2, 53, 50);
} /* não é necessário colocar o nome do elemento, por exemplo, h1#principal. Basta colocar #principal.*/

h2 {
    color: #08874e;
}
.basico {
    color: blue;
}
.intermediario {
    color: peru;
}
.avancado {
    color: red;
}

.destaque {
    background-color: #f9f997f2;
}
